.wrapper {
  display: grid;
  position: relative;

  > * {
    grid-area: 1/-1;
  }
}

.image {
  z-index: 1;
}

.image img {
  width: 100%;
  max-width: 100%;
}

.shade {
  z-index: 2;
  pointer-events: none;
  background-image: var(--shade-gradient);
  mix-blend-mode: var(--shade-blend-mode);
}

.text-top,
.text-center,
.text-bottom {
  z-index: 3;
}

.text-top {
  align-self: flex-start;
}

.text-center {
  align-self: center;
}

.text-bottom {
  align-self: flex-end;
}
