.wrapper {
  display: grid;

  > * {
    grid-area: 1/-1;
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}

.text-top {
  align-self: flex-start;
}

.text-center {
  align-self: center;
}

.text-bottom {
  align-self: flex-end;
}

.shade {
  user-select: none;
  background-image: var(--shade-gradient);
  mix-blend-mode: var(--shade-blend-mode);
}
