.wrapper { display: grid; }

.before { grid-column: 1/2; }

.above,
.below,
.image-wrapper { grid-column: 2/3; }

.after { grid-column: 3/4; }

.before,
.after,
.image-wrapper {
  display: grid;

  > * { grid-area: 1/-1; }

  img { max-width: 100%; }
}

.top { align-self: flex-start; }

.center { align-self: center; }

.bottom { align-self: flex-end; }
