.video {
  display: none;
}

.subs-container {
  display: grid;

  >* {
    grid-area: 1 / -1;
  }
}

.subs-group {
  opacity: 0;
  user-select: none;

  &.subs-group--active {
    opacity: 1;
    user-select: auto;
    z-index: 2;
  }
}
