/* * * * * * * * * * * * * * *
 *
 * APP
 *
 * * * * * * * * * * * * * * */

.dkdll {
  display: none;
}

:where(.lm-app *) {
  box-sizing: border-box;
  margin: 0;
}

/* * * * * * * * * * * * * * *
 *
 * VARIABLES
 *
 * * * * * * * * * * * * * * */

:root, :host {
  /* Fonts */
  --lmui-ff-the-antiqua-b:               "The-Antiqua-B-Variable", Garamond, Times, serif;
  --lmui-ff-the-antiqua-b-non-variable:  "The-Antiqua-B", Garamond, Times, serif;
  --lmui-ff-marr-sans:                   "Marr-Sans", Helvetica, Arial, Roboto, sans-serif;
  --lmui-ff-marr-sans-condensed:         "Marr-Sans-Condensed", Helvetica, Arial, Roboto, sans-serif;
  --lmui-ff-euclid-flex:                 "Euclid-Flex", Helvetica, Arial, Roboto, sans-serif;
  --lmui-ff-sang-bleu-og-sans:           "Sang-Bleu-OG-Sans", Garamond, Times, serif;
  --lmui-ff-sang-bleu-og-serif:          "Sang-Bleu-OG-Serif", Garamond, Times, serif;
  --lmui-ff-sang-bleu-og-condensed:      "Sang-Bleu-OG-Condensed", Garamond, Times, serif;
  --lmui-ff-pixeloid-sans:               "Pixeloid-Sans", Helvetica, Arial, Roboto, sans-serif;;
  --lmui-ff-pixeloid-mono:               "Pixeloid-Mono", monospace;
  --lmui-ff-giorgio-sans:                "Giorgio-Sans", Helvetica, Arial, Roboto, sans-serif;
  --lmui-ff-euclid-flex-xl:              "Euclid-Flex-XL", "Euclid-Flex", Helvetica, Arial, Roboto, sans-serif;
}
