.scroller {
  overflow: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
}

.wrapper.wrapper_snap .scroller {
  scroll-snap-type: x mandatory;
}

.scroller::-webkit-scrollbar {
  display: none;
  height: 0;
}

.scroller::-webkit-scrollbar-track,
.scroller::-webkit-scrollbar-thumb {
  background: transparent;
}

.scroller::before,
.scroller::after {
  content: "";
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  --PRIVATE-offset-size: calc((100% - var(--scroller-width, 100%)) / 2);
}

.scroller::before {
  margin-left: var(--PRIVATE-offset-size);
}

.scroller::after {
  margin-right: var(--PRIVATE-offset-size);
}

.slot {
  flex-grow: 0;
  flex-shrink: 0;
}

.wrapper.wrapper_snap .slot {
  scroll-snap-align: center;
}
