/* * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * PAGE
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

html {
  scroll-behavior: smooth;
}

.demo-page {
  padding: 64px;
}

@media screen and (max-width: 800px) {
  .demo-page {
    padding: 32px;
  }
}

@media screen and (max-width: 480px) {
  .demo-page {
    padding: 16px;
  }
}

.demo-app-name {
  font-family: var(--ff-sang-bleu-og-sans);
  font-size: var(--len-text-level-20);
  margin: 0;
  background-color: black;
  color: white;
  width: fit-content;
  padding: 16px;
}

.demo-app-description {
  font-family: var(--ff-euclid-flex);
  font-size: var(--len-text-level-4);
  padding: 16px;
  background-color: rgb(0, 0, 0, .88);
  color: white;
  display: inline-block;
  margin-bottom: 32px;
  margin-top: 4px;
  max-width: 480px;
}

.demo-app {
  padding: 32px;
  border: 1px solid #EEE;
  border-radius: 4px;
  box-shadow: 0 0 16px 0 rgb(0, 0, 0, .04);
  margin-bottom: 32px;
}

.demo-app-options {
  background-color: #F5F5F5;
  border-radius: 4px;
  padding: 16px;
  overflow-x: scroll;
  margin-bottom: 64px;
}

.demo-app-option {
  font-family: Menlo, monospace;
  font-size: var(--len-text-level-1);
  margin-bottom: 4px;
  width: max-content;
}

.demo-app-option em {
  font-style: normal;
  font-weight: 600;
}

.demo-app-option span {
  font-style: italic;
  opacity: .5;
}

.demo-app-option span::before {
  content: ' • ';
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * APPS
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.demo-app-description,
.demo-app,
.demo-app * {
  box-sizing: border-box;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * ARTICLE
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.demo-app.article {
  max-width: 800px;
}

.lm-article-editorial-nature,
.lm-article-heading {
  color: rgb(113, 123, 142);
  font-family: var(--ff-marr-sans-condensed);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.lm-article-editorial-nature:hover,
.lm-article-heading:hover {
  color: rgb(2, 107, 156);
}

.lm-article-intertitle {
  font-family: var(--ff-marr-sans);
  color: #2a303b;
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 20px;
  margin-top: 32px;
}

.lm-article-kicker {
  font-family: var(--ff-marr-sans);
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.09px;
  font-weight: 500;
  color: #2a303b;
}

@media (max-width: 1024px) {
  .lm-article-kicker {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: .22px;
  }
}

@media (max-width: 768px) {
  .lm-article-kicker {
    font-size: 17px;
    line-height: 1.41;
    letter-spacing: .21px;
  }
}

@media (max-width: 576px) {
  .lm-article-kicker {
    font-size: 16px;
    letter-spacing: .2px;
    line-height: 1.5;
  }
}

.lm-article-media-description {
  font-family: var(--ff-marr-sans);
  color: #717b8e;
  font-size: 14px;
  line-height: 1.42;
}

.lm-article-media-credits {
  font-family: var(--ff-marr-sans);
  font-size: 12px;
  color: #a2a9ae;
  line-height: 1.65;
  text-transform: uppercase;
}

.lm-article-paragraph {
  font-family: var(--ff-the-antiqua-b);
  color: #383f4e;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 500;
}

@media (max-width: 768px) {
  .lm-article-paragraph {
    font-size: 17px;
    line-height: 1.52;
  }
}

.lm-article-paragraph a {
  color: rgb(56, 63, 78);
  text-decoration: underline;
  text-decoration-thickness: 0.06em;
  text-underline-offset: 0.2em;
}

.lm-article-paragraph a:hover {
  opacity: .8;
  text-decoration: none;
}

.lm-article-publication {
  font-family: var(--ff-marr-sans);
  color: #717b8e;
  font-size: 14px;
  letter-spacing: .2px;
  line-height: 1.42;
  text-align: center;
}

.lm-article-signature {
  font-family: var(--ff-marr-sans);
  color: #2A303C;
  font-size: 14px;
  letter-spacing: .2px;
  line-height: 1.42;
  text-align: center;
}

.lm-article-signature em {
  color: #717b8e;
  font-style: normal;
}

.lm-article-signature a {
  color: inherit;
}

.lm-article-sub-marker::before {
  content: url(./demo-sub-marker.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.lm-article-sub-marker {
  position: relative;
  font-family: var(--ff-marr-sans);
  color: #717b8e;
  font-size: 14px;
  letter-spacing: .2px;
  line-height: 1.42;
  padding-left: 26px;
}

.lm-article-title {
  font-family: var(--ff-marr-sans);
  font-size: 60px;
  letter-spacing: .5px;
  line-height: 66px;
  color: rgb(0, 0, 0, .9);
  text-align: center;
  font-weight: 700;
}

@media (max-width: 576px) {
  .lm-article-title {
    font-size: 32px;
    line-height: 35.2px;
  }
}

.lm-article-read-also {
  font-family: var(--ff-the-antiqua-b);
  font-size: 18px;
  line-height: 25.38px;
  color: rgb(2, 107, 156);
  font-weight: 600;
  letter-spacing: -.1px;
}

a.lm-article-read-also {
  text-decoration: none;
}

.lm-article-read-also__label {
  color: rgb(56, 63, 78);
  font-weight: 800;
  letter-spacing: 0;
}

.lm-article-read-also__label::after {
  content: '\00a0|\00a0';
  color: #E8EAEE;
  font-weight: 100;
}

.lm-article-read-also__title {
  position: relative;
}

.lm-article-read-also.lm-article-read-also_subscribed .lm-article-read-also__title {
  padding-left: 26px;
}

.lm-article-read-also.lm-article-read-also_subscribed .lm-article-read-also__title::before {
  content: url(./demo-sub-marker.svg);
  position: absolute;
  top: 2px;
  left: 0;
}

a.lm-article-read-also .lm-article-read-also__title {
  text-decoration: underline;
  text-decoration-thickness: 0.06em;
  text-underline-offset: 0.2em;
}

.lm-article-read-also:hover .lm-article-read-also__title {
  opacity: .8;
  text-decoration: none;
}

.lm-article-read-in-english {
  font-family: var(--ff-marr-sans);
  color: #666E80;
  font-size: 14px;
  letter-spacing: .2px;
  line-height: 1.42;
  text-align: center;
}

.lm-article-image .lm-thumbnail__below {
  margin-top: 8px;
}

.lm-article-image .lm-image-overlay__text-bottom {
  margin: 8px;
}

.lm-article-image .lm-image-overlay__text-bottom .lm-article-media-description,
.lm-article-image .lm-image-overlay__text-bottom .lm-article-media-credits {
  color: white;
}

.lm-article-image .lm-image-overlay__text-bottom .lm-article-media-description {
  opacity: .7;
}

.lm-article-image .lm-image-overlay__text-bottom .lm-article-media-credits {
  opacity: .8;
}

.lm-article-image.lm-article-image_caption-overlay .lm-image-overlay__shade {
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0, .7),
    transparent 128px
  );
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * AUDIOQUOTE
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.demo-app.audioquote {
  max-width: 480px;
}

.lm-audio-quote {
  position: relative;
}

.lm-audio-quote__title {
  font-family: var(--ff-marr-sans);
  font-size: var(--len-text-level-7);
  font-weight: 700;
}

.lm-audio-quote__play-button,
.lm-audio-quote__pause-button,
.lm-audio-quote__loud-button,
.lm-audio-quote__mute-button {
  cursor: pointer;
  font-family: var(--ff-marr-sans);
  font-size: var(--len-text-level-2);
  padding: 4px 12px;
  border: 1px solid #D8D8D8;
  border-radius: 1000px;
  background-color: transparent;
  transition: opacity 200ms;
  margin-top: 16px;
}

.lm-audio-quote_is-playing .lm-audio-quote__play-button { opacity: .4; }
.lm-audio-quote__pause-button { opacity: .4; }
.lm-audio-quote_is-playing .lm-audio-quote__pause-button { opacity: 1; }
.lm-audio-quote_is-loud .lm-audio-quote__loud-button { opacity: .4; }
.lm-audio-quote__mute-button { opacity: .4; }
.lm-audio-quote_is-loud .lm-audio-quote__mute-button { opacity: 1; }

.lm-audio-quote__subs-container {
  margin-top: 16px;
  font-family: var(--ff-the-antiqua-b);
  font-size: var(--len-text-level-12);
  transition: opacity 200ms;
}

.lm-audio-quote_is-ended .lm-audio-quote__subs-container {
  opacity: .6;
}

.lm-audio-quote__sub {
  opacity: .2;
  transition: opacity 200ms;
}

.lm-audio-quote__sub_pronounced {
  opacity: .6;
}

.lm-audio-quote__sub_active {
  opacity: 1;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * CAROUSEL
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.demo-app.carousel {
  max-width: 1200px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * FOOTER
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.demo-app.footer {
  max-width: 1200px;
}

.lm-footer {
  padding: 96px 48px;
}

.lm-footer__above {
  text-align: center;
  font-family: var(--ff-marr-sans-condensed);
  font-weight: 800;
  color: white;
  font-size: var(--len-text-level-23);
  margin-bottom: 64px;
}

.lm-footer__above::after {
  content: '';
  color: transparent;
  display: block;
  width: 100px;
  height: 4px;
  background-color: white;
  margin: 0 auto;
  margin-top: 24px;
}

.lm-footer__thumbnails {
  flex-wrap: wrap;
}

.lm-footer .lm-thumbnail {
  margin: 0 16px;
  box-shadow: 0 0 24px 0 rgb(0, 0, 0, .9);
  transition: transform 1600ms;
  width: calc(25% - 32px);
  cursor: pointer;
}

.lm-footer a.lm-thumbnail {
  text-decoration: none;
}

.lm-footer .lm-thumbnail:hover {
  transform: scale(1.01);
}

.lm-footer .lm-thumbnail__below {
  font-family: var(--ff-marr-sans);
  font-weight: 600;
  color: white;
  text-decoration: un;
  font-size: var(--len-text-level-4);
  margin-top: 8px;
}

.lm-footer__below {
  text-align: center;
  font-family: var(--ff-marr-sans);
  font-weight: 400;
  color: white;
  opacity: .8;
  font-size: var(--len-text-level-5);
  margin: 0 auto;
  margin-top: 64px;
  max-width: 480px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * THUMBNAIL
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.demo-app.thumbnail {
  max-width: 480px;
}

a.lm-thumbnail {
  text-decoration: none;
}

/* .lm-thumbnail .lm-image-overlay__text-top,
.lm-thumbnail .lm-image-overlay__text-center,
.lm-thumbnail .lm-image-overlay__text-bottom {
  font-family: var(--ff-marr-sans);
  font-weight: 600;
  color: white;
  text-decoration: un;
  font-size: var(--len-text-level-4);
  text-shadow: 0 0 4px rgb(0, 0, 0, .3);
  margin: 8px;
} */
