/* * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * PAGE
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.demo-page { padding: 64px; }
@media screen and (max-width: 800px) { .demo-page { padding: 32px; } }
@media screen and (max-width: 480px) { .demo-page { padding: 16px; } }

.demo-app-name {
  font-family: var(--ff-sang-bleu-og-sans);
  font-size: var(--len-text-level-20);
  margin: 0;
  background-color: black;
  color: white;
  width: fit-content;
  padding: 16px;
}

.demo-app-description {
  font-family: var(--ff-euclid-flex);
  font-size: var(--len-text-level-4);
  padding: 16px;
  background-color: rgb(0, 0, 0, .88);
  color: white;
  display: inline-block;
  margin-bottom: 32px;
  margin-top: 4px;
  max-width: 480px;
}

.demo-app {
  padding: 32px;
  border: 1px solid #EEE;
  border-radius: 4px;
  box-shadow: 0 0 16px 0 rgb(0, 0, 0, .04);
  margin-bottom: 32px;
}

.demo-app-options {
  background-color: #F5F5F5;
  border-radius: 4px;
  padding: 16px;
  overflow-x: scroll;
  margin-bottom: 64px;
}

.demo-app-option {
  font-family: Menlo, monospace;
  font-size: var(--len-text-level-1);
  margin-bottom: 4px;
  width: max-content;
}

.demo-app-option em {
  font-style: normal;
  font-weight: 600;
}

.demo-app-option span {
  font-style: italic;
  opacity: .5;
}

.demo-app-option span::before {
  content: ' • ';
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * APPS
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.demo-app-description,
.demo-app,
.demo-app * {
  box-sizing: border-box;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * AUDIOQUOTE
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.demo-app.audioquote {
  max-width: 480px;
}

.lm-audio-quote {
  position: relative;
}

.lm-audio-quote__title {
  font-family: var(--ff-marr-sans);
  font-size: var(--len-text-level-7);
  font-weight: 700;
}

.lm-audio-quote__play-button,
.lm-audio-quote__pause-button,
.lm-audio-quote__loud-button,
.lm-audio-quote__mute-button {
  cursor: pointer;
  font-family: var(--ff-marr-sans);
  font-size: var(--len-text-level-2);
  padding: 4px 12px;
  border: 1px solid #D8D8D8;
  border-radius: 1000px;
  background-color: transparent;
  transition: opacity 200ms;
  margin-top: 16px;
}

.lm-audio-quote_is-playing .lm-audio-quote__play-button { opacity: .4; }
.lm-audio-quote__pause-button { opacity: .4; }
.lm-audio-quote_is-playing .lm-audio-quote__pause-button { opacity: 1; }
.lm-audio-quote_is-loud .lm-audio-quote__loud-button { opacity: .4; }
.lm-audio-quote__mute-button { opacity: .4; }
.lm-audio-quote_is-loud .lm-audio-quote__mute-button { opacity: 1; }

.lm-audio-quote__subs-container {
  margin-top: 16px;
  font-family: var(--ff-the-antiqua-b);
  font-size: var(--len-text-level-12);
  transition: opacity 200ms;
}

.lm-audio-quote_is-ended .lm-audio-quote__subs-container {
  opacity: .6;
}

.lm-audio-quote__sub {
  opacity: .2;
  transition: opacity 200ms;
}

.lm-audio-quote__sub_pronounced {
  opacity: .6;
}

.lm-audio-quote__sub_active {
  opacity: 1;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * CAROUSEL
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.demo-app.carousel {
  max-width: 1200px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * FOOTER
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.demo-app.footer {
  width: 100%;
}

.lm-footer {
  padding: 96px 48px;
}

.lm-footer__above {
  text-align: center;
  font-family: var(--ff-marr-sans-condensed);
  font-weight: 800;
  color: white;
  font-size: var(--len-text-level-23);
  margin-bottom: 64px;
}

.lm-footer__above::after {
  content: '';
  color: transparent;
  display: block;
  width: 100px;
  height: 4px;
  background-color: white;
  margin: 0 auto;
  margin-top: 24px;
}

.lm-footer .lm-thumbnail {
  margin: 0 16px;
  box-shadow: 0 0 24px 0 rgb(0, 0, 0, .9);
  transition: transform 1600ms;
}

.lm-footer a.lm-thumbnail {
  text-decoration: none;
}

.lm-footer .lm-thumbnail:hover {
  transform: scale(1.01);
}

.lm-footer .lm-thumbnail__below {
  font-family: var(--ff-marr-sans);
  font-weight: 600;
  color: white;
  text-decoration: un;
  font-size: var(--len-text-level-4);
  margin-top: 8px;
}

.lm-footer__below {
  text-align: center;
  font-family: var(--ff-marr-sans);
  font-weight: 400;
  color: white;
  opacity: .8;
  font-size: var(--len-text-level-5);
  margin: 0 auto;
  margin-top: 64px;
  max-width: 480px;
}

