.wrapper {
  position: relative;
  background-color: var(--bg-color);
}

.shade,
.background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.shade {
  pointer-events: none;
  background-image: var(--shade-linear-gradient);
  mix-blend-mode: var(--shade-blend-mode);
}

.background-image {
  img, svg {
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
  }
}

.above,
.thumbnails,
.below {
  position: relative;
}

.thumbnails {
  display: flex;
  justify-content: space-evenly;
}
